
/Debug
/ipch
/Release_External
*.opensdf
*.sdf
*.vcxproj.user
*.suo
/Release
/output
/glide64/boost_1_34_1
/glide64/ipch
/glide64/Glide64/MSVS/Debug
/glide64/Glide64/MSVS/Release
/glide64/GlideHQ/MSVS/Debug
/glide64/GlideHQ/MSVS/Release
/glide64/GlideHQ/lib/libboost_filesystem-vc80-mt-sgd-1_34_1.lib
/glide64/GlideHQ/bldno.h
/glide64/Glitch64/MSVS/Debug
/glide64/Glitch64/MSVS/Release
/rsp/Debug
/rsp/Release
/rsp/ipch