
/Debug
/ipch
/Release_External
*.opensdf
*.sdf
*.vcxproj.user
*.suo
/Release
/output
/glide64/Debug
/glide64/Release
/glide64/Glide64/MSVS/Debug
/glide64/Glide64/MSVS/Release
/glide64/GlideHQ/MSVS/Debug
/glide64/GlideHQ/MSVS/Release
/glide64/GlideHQ/bldno.h
/glide64/Glitch64/MSVS/Debug
/glide64/Glitch64/MSVS/Release